.Rproj.user
.Rhistory
.RData
.Ruserdata
ss_reg_missing data.rds
ss_reg_missing data.stan
ss_missing data.rds
state_space.rds
state_space.stan
ss estimate turb.stan
ss estimate turb.rds
ss_missing data_add turb.stan
graphs.R
Rstan_hist_missing 100.pdf
Rstan_hist_missing data 10.pdf
Rstan_hist_missing data 25.pdf
Rstan_hist_missing data 50.pdf
Rstan_hist_missing data 75.pdf
Rstan_missing data 10.csv
Rstan_missing data 100.csv
Rstan_missing data 100_proc_0.5.csv
Rstan_missing data 10_proc_0.5.csv
Rstan_missing data 175_proc_0.5.csv
Rstan_missing data 25.csv
Rstan_missing data 25_proc_0.5.csv
Rstan_missing data 50.csv
Rstan_missing data 50_proc_0.5.csv
Rstan_missing data 75.csv
Rstan_missing data 75_proc_0.5.csv
Rstan_missing data summary.csv
Rstan_ppc_missing 100.pdf
Rstan_ppc_missing data 10.pdf
Rstan_ppc_missing data 25.pdf
Rstan_ppc_missing data 50.pdf
Rstan_ppc_missing data 75.pdf
Rstan_reg_missing data 100.pdf
Rstan_reg_missing data 25.pdf
Rstan_reg_missing data 50.pdf
Rstan_reg_missing data 75.pdf
Rstan_trace_missing 75.pdf
ss_missing data.stan
ss_missing data_add turb.rds
Stan\ fit\ 1_hist.pdf
Stan\ fit\ 3.csv
Stan\ fit_miss50_scatter.pdf
Stanfit_miss50_hist.pdf
fake_turb.csv
ss_missing data.stan
fake_turb.csv
ss_missing data.stan
full_sim_day_amelia.RDS
*.jpeg
*.jpg
*.tiff
missing-data-summary.html
missing-data-summary.pdf
*.pdf
missing-data-summary.html
missing-data-summary.html
missing-data-summary.pdf
schools.stan
toy2p.rds
toy2p.stan
missing-data-summary_for modelscape.Rmd
missing-data-summary.pdf
missing-data-summary.html
toy2p.rds
appling.png
missing-data-summary.html
missing-data-summary.html
missing-data-summary.pdf
missing-data-summary.html
*.html
missing-data-summary.html
time-series-missing-data-model-week.R
*.html
missing-data-summary.pdf
SFS presentation/158-1581340_clip-art-dart-board-png-eagle-dart-board.png
SFS presentation/SFS 2021 presentation.Rmd
SFS presentation/My Library.bib
SFS presentation/SFS-2021-presentation.pptx
SFS presentation/SFS-2021-presentation_042221.pptx
SFS presentation/SFS-2021-presentation_042721.pptx
SFS presentation/SFS-2021-presentation_042821-post comments.pptx
SFS presentation/SFS-2021-presentation_042821.pptx
SFS presentation/SFS-2021-presentation_042921-post comments.pptx
SFS presentation/SFS-2021-presentation_043021.pptx
SFS presentation/template-no-title.pptx
toy2p.rds
ss.stan
ss_light.stan
Different approaches to simulate data.pptx
Matts Shiny App Vision.pptx
mcelreath_miss_ss.stan
mcelreath_miss_ss.stan
ss.stan
GPPstanmissing.RData
.DS_Store
/data/missingDatasets/forBeartooth/gauss_sim_randMiss_A.rds
/data/missingDatasets/forBeartooth/gauss_sim_randMiss_B.rds
/data/model_results/ricker_sim_ModelResultsLong.rds
/data/model_results/gauss_sim_randMiss_modelResults_A/
/data/model_results/gauss_sim_randMiss_modelResults_B/
/data/model_results/gauss_sim_minMax_modelResults/
/data/model_results/gauss_sim_randMiss_modelResults_A
/data/model_results/gauss_sim_randMiss_modelResults_B
/data/model_results/gauss_sim_minMax_modelResults
/data/model_results/gauss_sim_ModelResults.rds
/data/model_results/gauss_sim_ModelResults_normPrior.rds
gauss_sim_randMiss_modelResults_B/
./data/missingDatasets/forBeartooth/gauss_sim_randMiss_A.rds
./data/missingDatasets/forBeartooth/gauss_sim_randMiss_B.rds
./data/model_results/ricker_sim_ModelResultsLong.rds
/data/model_results/gauss_real_MAR_arima_modResults/au_sable/gauss_auSable_real_MAR_arima_FORECASTpreds.csv
./data/model_results/gauss_real_MAR_arima_modResults/au_sable/gauss_auSable_real_MAR_arima_FORECASTpreds.csv
data/missingDatasets/forBeartooth/gauss_sim_randMiss_A.rds
data/missingDatasets/forBeartooth/gauss_sim_randMiss_B.rds
data/model_results/ricker_sim_ModelResultsLong.rds
data/model_results/gauss_real_MAR_arima_modResults/au_sable/gauss_auSable_real_MAR_arima_FORECASTpreds.csv

00_combined_gauss_sim_randMiss_A.csv                             
00_combined_gauss_sim_randMiss_B.csv              
gauss_auSable_real_MAR_arima_FORECASTpreds.csv    
gauss_sim_MAR_A_brms_results_normPrior.csv        
gauss_sim_MAR_A_brms_results_normPriorNB.csv      
gauss_sim_MAR_B_brms_results_normPrior.csv        
gauss_sim_MAR_B_brms_results_normPriorNB.csv      
gauss_sim_ModelResults.rds                      
gauss_sim_ModelResults_normPrior.rds            
gauss_sim_randMiss_A.rds                    
gauss_sim_randMiss_B.rds                          
wlciw930.tiff